In [1]:
import os
import pandas as pd

In [ ]:
folder_path = 'data/Universities-Affiliations'

In [3]:

dataframes = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        dataframes.append(pd.read_csv(file_path))

combined_df = pd.concat(dataframes, ignore_index=True)

In [4]:
combined_df.head()

,Affiliation,Abbreviation,University,City
0,Université Abdelmalek Essaadi,NaN,Université Abdelmalek Essaadi,Tétouan
1,Faculté Oussoul Eddine,FOE,Université Abdelmalek Essaadi,Tétouan
2,"Faculté des Sciences Juridiques, Economiques e...",FSJES,Université Abdelmalek Essaadi,Tanger
3,"Faculté des Sciences Juridiques, Economiques e...",FSJES,Université Abdelmalek Essaadi,Tétouan
4,Faculté des Lettres et des Sciences Humaines,FLSH,Université Abdelmalek Essaadi,Tétouan

In [6]:
combined_df.to_csv('data/Universities-Affiliations/Moroccan-Affiliations.csv', index=False)